body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 32px;
    box-sizing: border-box;
}

.container {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator {
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.row {
    display: flex;
    justify-content: right;
    width: 320px;
}

button {
    width: 80px;
    aspect-ratio: 1/1;
    flex: 1;
    padding: 0;
    border: 0;
    background-color: #d6d6d6;
    color: black;
    font-weight: bold;
}

button:hover {
    opacity: 20%;
}


.result {
    background-color: #4c4c4c;
    width: 320px;
    height: 80px;
    display: flex;
    justify-content: right;
    align-items: end;
    font-size: clamp(1rem, calc(0.5rem + 5vw), 3rem);
    white-space: nowrap;
    text-overflow: ellipsis;
}

button.twicespace {
    flex: 2;
    aspect-ratio: 2/1;
}

.operator {
    background-color: #f79231;
    color: white;
}